<footer class="black white-text" style="position: fixed; bottom: 0; width: 100%">Copyright 2020 Connect</footer>

<!-- Javascript and JQuery Scripts-->

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>