<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>

    <!-- Materialize CDN -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Basic Style Sheet-->
    <link rel="stylesheet" href="/styles.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body class="indigo lighten-4">
    <div class="navbar-fixed">
        <nav class="nav-wrapper indigo">
            <div class="container">
                <a href="#" class="brand-logo">Connect</a>
                <a href="" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Notifications</a></li>
                <li><a href="">Messages</a></li>
                <li><a href="">Account Settings</a></li>
                <li><a href="/login" class="btn white indigo-text">Login</a></li>
                <li><a href="/signup" class="btn white indigo-text">Sign Up</a></li>

                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-links">
        <li><a href="">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Notifications</a></li>
        <li><a href="">Messages</a></li>
        <li><a href="">Account Settings</a></li>
    </ul>


