<%- include('partials/header'); -%>

<header>
    <div class="headings container center">
        <h2 class="indigo-text">Home Page</h2>
        <h3 class="indigo-text">Hello connect users</h3>
    </div>
</header>

<%- include('partials/footer'); -%>