<%- include('partials/header'); -%>
<div class="container white">
    <div class="container" style="padding: 12px; margin-top:100px">
        <form>
            <h2 class="indigo-text center">Log in</h2>

            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="text" id="email" required />
                <label for="email">Email</label>
                <div class="email error"></div>
            </div>

            <!-- I replaced name="email" with id="email" could lead to errors -->
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="text" id="password" required />
                <label for="password">Password</label>
                <div class="password error"></div>
            </div>
            
            <div class="center">
                <button class="btn indigo center">Sign Up</button>
            </div>
        </form>
        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error');
            // TODO: add CSS to the error display and don't display on undefined
            
        
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
        
                // get the values from the form
                const email = form.email.value;
                const password = form.password.value;
        
                //reset errors
                emailError.innerHTML = "";
                passwordError.innerHTML = "";
                
                try{
                    const res = await fetch('/login', {
                        method: 'POST',
                        body: JSON.stringify({email: email, password: password}),
                        headers: {'Content-Type': 'application/json'}
                    });
                    
                    const data = await res.json();
                    console.log(data);
                    if(data.errors)
                    {
                        emailError.innerHTML = data.errors.email;
                        passwordError.innerHTML = data.errors.password;
                    }
        
                    if(data.user)
                    {
                        location.assign('/profile');
                    }
                }catch(err){
                    console.log(err);
                }
                
            })
        </script>
    </div>
</div>
<%- include('partials/footer'); -%>